@font-face {
  font-family: 'font-family-base';
  src: url('./assets/font/Apercu/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/font/Apercu/Apercu-Regular.woff2') format('woff2'),
    url('./assets/font/Apercu/Apercu-Regular.woff') format('woff'),
    url('./assets/font/Apercu/Apercu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'font-family-light';
  src: url('./assets/font/Apercu/Apercu-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/font/Apercu/Apercu-Light.woff2') format('woff2'),
    url('./assets/font/Apercu/Apercu-Light.woff') format('woff'),
    url('./assets/font/Apercu/Apercu-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'font-family-bold';
  src: url('./assets/font/Apercu/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/font/Apercu/Apercu-Bold.woff2') format('woff2'),
    url('./assets/font/Apercu/Apercu-Bold.woff') format('woff'),
    url('./assets/font/Apercu/Apercu-Bold.ttf') format('truetype');
}
//Arabic Fonts
@font-face {
  font-family: 'AR_Regular';
  src: url('./assets/font/cairo/Cairo-Regular.ttf');
}
@font-face {
  font-family: 'AR_Medium';
  src: url('./assets/font/cairo/Cairo-SemiBold.ttf');
}
@font-face {
  font-family: 'AR_Bold';
  src: url('./assets/font/cairo/Cairo-Bold.ttf');
}
